
.main{
    background:transparent !important;
}

.logo {
  margin: 0;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.large-group{
  font-size: 1.5em;
}
.large-group input{
height:80px;
}

.large-group i{
  line-height: 50px;
}
 .success-btn{
   background: #333;
   cursor: pointer;
border:0 !important;
outline:0 !important;
}

.large-group select{
height:80px;
width:150px !important;
line-height: 55px;
border-top: 0;
border-left:2px solid #ccc !important;
border-right: 0 !important;
}
@media only screen and (max-width: 991px) {
  
.large-group select{
height:80px;
width:100% !important;
line-height: 55px;
border-top: 0;
border-left:2px solid #ccc !important;
border-right: 0 !important;
}
}

.large-group .input-group-addon{
height:80px !important;
background:#fff;
}

.main-container {
  background: #fff;
  position: relative;
  margin-top:200px;
  width:100%;
  z-index:100;
 
}

.main-container:before {
    z-index:-100;
  content: '';
box-shadow: 80px 0px 10px 0px rgba(225, 225, 225, .9); 
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 60px;
  background: #fff;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

section {
  margin: 10px auto;
  padding: 0 20px;
  padding-bottom: 10px;
  position: relative;
  
}

