.minpu-form{
    top:150px;
}

@media only screen and (max-width: 990px) and (min-width: 521px)  {
.minpu-form{
    top:100px;
}

.large-group{
  font-size: 1.5em;
position: absolute;
  top:100px;
}

}

@media only screen and (max-width: 521px) and (min-width: 200px)  {
.minpu-form{
    top:90px;
}

.large-group{
  font-size: 1.5em;
position: absolute;
  top:140px;
}

}




.rightti{
    background:url('assets/img/mp-bg.jpg')
}
.border-success{
    border:4px solid #8cc43f;
}

.border-darkGreen{
    border:4px solid #195c5a;
}
.img-rounded{
    height: 150px;
border-radius: 50%;
margin-bottom: 20px;
}

.overlay-2{
     height:88%; 
     display: inline-block;
     width:100%; 
     margin-top:-100px; 
     background:rgba(0,0,0, .6);
     margin: 0;
}

.overlay-1{
     height:100%; 
     display: inline-block;
     width:100%; 
     margin-top:-100px; 
     background:rgba(0,0,0, .2);
     z-index: 10;
     margin: 0;
}


.container-round{
  background:url('../img/mp-bg.jpg') !important;
   background-size:cover;
   background-repeat: no-repeat;
}


.cities{
    background: url('../img/lagos.jpg') rgba(0, 0, 0, 0.4)  !important;
    background-size: cover;
    height:190px;
}


.room{
    text-align: center;
    height:350px;
}


.main{
    background:transparent !important;
}

.logo {
  margin: 0;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.large-group{
  font-size: 1.5em;
  
}
.large-group input{
height:80px;
}

.large-group i{
  line-height: 50px;
}
 .success-btn{
   background: #333;
   cursor: pointer;
border:0 !important;
outline:0 !important;
}

.large-group select{
height:80px;
width:150px !important;
line-height: 55px;
border-top: 0;
border-left:2px solid #ccc !important;
border-right: 0 !important;
}
@media only screen and (max-width: 991px) {
  
.large-group select{
height:80px;
width:100% !important;
line-height: 55px;
border-top: 0;
border-left:2px solid #ccc !important;
border-right: 0 !important;
}
}

.large-group .input-group-addon{
height:80px !important;
background:#fff;
}

.main-container {
  background: #fff;
  position: relative;
  margin-top:280px;
  width:100%;
  z-index:100;
 
}

.main-container:before {
    z-index:-100;
  content: '';
box-shadow: 80px 0px 10px 0px rgba(225, 225, 225, .9); 
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 60px;
  background: #fff;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

section {
  margin: 10px auto;
  padding: 0 20px;
  padding-bottom: 10px;
  position: relative;
  
}

